# Latex Temporary Files #
#########################
Presentation/*
!Presentation/*.pdf
!Presentation/imgs/*

# Mac OS strange folders #
##########################
.DS_Store
.AppleDouble
.LSOverride
._*